head {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

#Header {
  font-weight: 700;
  font-size: 40px;
  color: white;
  padding-top: 40px;
  padding-bottom: 30px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 0 0 1px #000000,
                0 0 2px #000000,
                0 0 3px #000000,
                0 0 4px #000000,
                0 0 5px #fff,
                0 0 7px #fff,
                0 0 8px #fff,
                0 0 10px #0fa,
                0 0 13px #ff33cc,
                0 0 17px #ff33cc,
                0 0 23px #ff33cc;

}

body {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 15px;

  /* background-color: black;
  color: white; */
}

#Summary-Dev{
  height: 45px;
  width: 45px;
}
#Summary-Run{
  height: 45px;
  width: 45px;
}
#Summary-Birdline{
  height: 45px;
  width: 45px;
}
#Links-Git{
  height: 35px;
  width: 35px;
}
#Links-LinkedIn{
  height: 35px;
  width: 35px;
}
#Employment-Heading{
  font-weight: 600
}
#Employment-Info{
  font-weight: 300
}
#Contact{
  font-weight: 600
}

#Button {
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: black;
}
